ul {
    color: black;
    list-style: none;
    margin: 50px auto;
    padding: 10px;
}

.list li {
    border-top: 1px solid #999;
    height: 100px;
    padding: 0px;
    background: white;
    margin-top: 0px;
    text-align: left;
    font-size: 16px;
    font-weight: 100;
    overflow: hidden;
}

.message-list {
    border: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.message-list .scroller {
    overflow: scroll;
    padding: 0px;
    list-style-type: none;
}

.scrollbar-vertical
{
    top: 0;
    right: 0;
    width: 17px;
    height: 100px;
    overflow-x: hidden;
    scrollbar-3dlight-color:#999;
    scrollbar-arrow-color:white;
    scrollbar-base-color:white;
    scrollbar-face-color:#999;
    border-radius:5px 5px; 
}

.left-column {
    float: left;
    width: 60px;
}

.right-column {
    margin-left: 60px;
}

.filter-column {
    float: right;
    text-align: right;
    width: 200px;
}

.full-width {
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
  
.row {
    display: table;
    width: 100%;
}

ngx-avatar{
    display:inline-block;
}
