<div class="virtual-list">

    <div class="row">
        <div class="filter-column">
            <mat-select [(ngModel)]="filterForName" placeholder="Filter" (selectionChange)="reload()">
            <mat-option>All</mat-option>
            <mat-option *ngFor="let name of nameList" [value]="name">{{name}}</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="row">
        <div class="left-column"></div>
        <div class="right-column">Inbox</div>
    </div>

    <ng-container *ngIf="messages as items; else loader">

    <div class="message-list">
        <ul class="list">

            <cdk-virtual-scroll-viewport style="height: 300px" itemSize="100"
            (scrolledIndexChange)="nextBatchIfNeeded($event, (items[items.length - 1].id))">
            <ng-container *cdkVirtualFor="let item of items">
                <li>
                <div class="row">
                    <div class="left-column">
                        <ngx-avatar size="40" initialsSize="3" cornerRadius="4" [round]="false"
                            [style]="avatarStyle" name="{{item.from.name}}">
                        </ngx-avatar>
                        {{item.id}}
                    </div>
                    <div class="right-column">
                        <div class="full-width">Source: {{item.from.name}}</div>
                        <div class="full-width">Subject: {{item.id}} {{item.subject}}</div>
                        <div class="full-width">Body: {{item.body}}</div>
                    </div>
                </div>
                </li>
            </ng-container>
            </cdk-virtual-scroll-viewport>

        </ul>
        
    </div>
    </ng-container>

    <ng-template #loader>
        Loading messages ....
    </ng-template> 

</div>
