body {
    background-color: white;
    color: black;
    overflow: hidden;
}

.center {
    text-align: center;
}

.flex-container {
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;
}

@media all and (min-width: 600px) {
    .aside { flex: 1; }
}
