<h1 class="center">Infinite List</h1>

<div class="flex-container">
  <div class="aside">
    <p><virtual-list [sourceService]="mailService"></virtual-list></p>
    <p>
      <mat-form-field>
        <mat-label>Mail service API</mat-label>
        <input matInput #mailBaseApi placeholder="URI" [formControl]="mailBaseApiField">
      </mat-form-field>
      <button mat-button #mailBaseApiButton (click)="setMailServiceApiBase()">Update</button>
    </p>
  </div>

  <div class="aside">
    <p><virtual-list [sourceService]="newsService"></virtual-list></p>
    <p>
      <mat-form-field>
        <mat-label>News service API</mat-label>
        <input matInput #newsBaseApi placeholder="URI" [formControl]="newsBaseApiField">
      </mat-form-field>
      <button mat-button #newsBaseApiButton (click)="setNewsServiceApiBase()">Update</button>
    </p>
  </div>
</div>
